* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--font-family);
    color: white;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section {
    width: 100%;

    display: grid;
    align-items: center;
}

header > p {
    color: rgba(0,212,255,1);
}


.container {
    padding-inline: 4rem;
}

.divider-1 {
    height: 2px;
    width: 100%;

    background: linear-gradient(45deg, rgb(64, 25, 182) 35% , rgb(64, 25, 182) 35%,rgba(0,212,255,1) 100%, rgb(64, 25, 182));
}

.divider-2 {
    height: 2px;
    width: 100%;

    background: linear-gradient(45deg,#00d4ff 35%, #4019b6);
}