@import url(keyframe.css);

#intro {
    height: 100vh;
    & .content {
        display: grid;
        align-items: center;
        justify-content: space-evenly;
        grid-template-columns: repeat(2, 1fr);

        & h1 {
            font-size: 5rem;

        }

        & span {
            background: linear-gradient(45deg, rgb(64, 25, 182) 35% , rgb(64, 25, 182) 35%,rgba(0,212,255,1) 100%, rgb(64, 25, 182));
            background-size: 400% 100%;
            animation: degrade 10s linear infinite reverse;
    
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    
            font-weight: bold;
        }

        & .tag {

            & > img {
                width: 18.5rem;
                border-radius: 50%;
            }

            justify-self: right;
        }

        & .techs {
            grid-column-start: 1;
            grid-column-end: 3;

            display: flex;
            align-items: center;
            justify-content: space-between;

            padding-block: 1rem;

            & .tech {
                display: flex;
                align-items: center;
                gap: .5rem;

                & img {
                    width: 1.5rem;
                }
            }

            & span {
                font-weight: 800;
                font-size: 1rem;
            }
        }

        & .description {
            padding-block: .75rem;

            & p {
                max-width: 50%;
                color: rgb(212, 212, 212);
            }
        }
    }
    

}

#timeline {
    height: 100%;
    background-color: black;

    display: flex;
    justify-content: center;

    & .content {
        text-align: center;
        margin-block: 4rem;


        & .line-points {
            width: 1000px;
            margin: 100px auto;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                right: 50%;
                top: 0;
                width: 5px;
                height: 0%;
                background: linear-gradient(45deg, rgb(64, 25, 182) 35% , rgb(64, 25, 182) 35%,rgba(0,212,255,1) 100%, rgb(64, 25, 182));
                border-radius: 50px;
                animation: LineAnimated 5s linear forwards;
            }
            
        }

        & .point {
            width: 50%;
            position: relative;
            padding: 10px 20px;
            opacity: 0;

            &:nth-child(even) {
                right: -50%;
            }

            &:nth-child(even)::before {
                content: "";
                position: absolute;
                height: 20px;
                width: 20px;
                top: 0;
                left: -12px;
                z-index: 100;
                background: linear-gradient(45deg, rgb(64, 25, 182) 35% , rgb(64, 25, 182) 35%,rgba(0,212,255,1) 100%, rgb(64, 25, 182));
                border-radius: 50%;
                
            
            }

            &:nth-child(odd)::before {
                content: "";
                position: absolute;
                height: 20px;
                width: 20px;
                top: 0;
                right: -7px;
                z-index: 10;
                background: linear-gradient(45deg, rgb(64, 25, 182) 35% , rgb(64, 25, 182) 35%,rgba(0,212,255,1) 100%, rgb(64, 25, 182));
                border-radius: 50%;
                
                
            }
        }

        & .text-content {
            padding: 20px 30px;
            border-radius: 10px;
            box-shadow: 0 5px 10px #191919;

            & h2 {
                font-size: 25px;
            }

            & p {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}

.point.show {
    animation: Animate-Point 1s linear forwards;
    animation-delay: var(--dly);
    z-index: 10;
}

#projects {
    height: 100%;
    background-color: black;

    display: flex;
    align-items: initial;
    justify-content: center;

    & .content {
        margin-block: 4rem;
        text-align: center;
        display: grid;
        gap: 56px;

        & header {
            p {
                color: rgba(0,212,255,1);
            }
        }

        .projects {
            width: 75%;

            margin-inline: auto;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1.5rem;
        }

        .proj {
            width: 20.625rem;
            height: 17.5rem;

            & img {
                width: 100%;
                border-radius: 1rem;
            }
            & p {
                max-width: 100%; /* Tamanho */
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    
}


@media (max-width: 1056px) {
    #intro {
        & .content {
            h1 {
                font-size: 4rem;
            }

            & .description {
                & p {
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width: 947px) {
    #intro {
        & .content {
            h1 {
                font-size: 2rem;
            }
        }

        
    }
}


@media(max-width: 800px) {
    #intro {
        & .content {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            text-align: center;

            & .techs {
                width: 100%;
                & span {

                    font-size: .8rem;
                }
            }
        }

        
    }
}

@media (max-width: 680px) {
    #intro {
        & .content {
            & .techs {
                flex-direction: column;
                gap: 10px;
            }

            & .tag {
                & > img {
                    width: 15rem;
                }
            }

            & h1 {
                font-size: 1rem;
            }
    
            & h3 {
                font-size: .6rem;
            }
        }
    }
}


@media (max-width: 376px) {
    #intro {
        & .content {
            
            & .description {
                & p {
                    font-size: 8px;
                }

                padding-block: .6rem;
            }

            & .techs {

                & span {

                    font-size: .6rem;
                }
            }

            

        }
    }
}